
Button {
    -fx-border-width: 2;
    -fx-background-color: #69358C;
    -fx-text-fill: white;
    -fx-font-style: bold;
    -fx-padding: 8;
}

Button:hover {
    -fx-background-color: #cc66ff;
}
ChoiceBox{
    -fx-background-color: #f5f5f5;
    -fx-border-color: #cccccc;
    -fx-border-radius: 10px;  /* Bordes redondeados */
    -fx-border-width: 1px;
    -fx-padding: 3px;
}
